#home-container {
  display: flex; }
  #home-container #page-links {
    width: 20%;
    padding: 10px;
    height: 100%;
    text-align: center; }
  #home-container #feed-posts {
    width: 50%;
    padding: 10px;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    height: 100%;
    text-align: center; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    height: 100%;
    text-align: center; }
